@model List<VideogameModel>

<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <h3>Lista dei videogiochi</h3>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-12">
                    @foreach(VideogameModel videogame in Model)
                    {
                        <div class="card mb-3" style="max-width: 540px;">
                            <div class="row g-0">
                                <div class="col-md-4">
                            <img src="@videogame.ImgUrl" class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">@videogame.Name</h5>
                                        <p class="card-text">@videogame.Description</p>
                                        <p class="card-text">Prezzo: @videogame.Price.ToString("0.00")</p>
                                        <a class="btn btn-info btn-sm" href="@Url.Action("Details", "Pizza", new { id = pizza.Id })">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
        </div>
    </div>
</div>