@model List<VideogameModel>

<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <h3>Lista dei videogiochi</h3>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-12">
            
            @foreach(VideogameModel videogame in Model)
            
            {
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                    <img src="@videogame.ImgUrl" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">@videogame.Name</h5>
                                <p class="card-text">@videogame.Description</p>
                                <p class="card-text">Prezzo: @videogame.Price.ToString("0.00")</p>
                                <a class="btn btn-info btn-sm" href="@Url.Action("Details", "Customer", new { id = videogame.Id })">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>
                                </a>
                                <button class="btn btn-success" href="@Url.Action("Buy", "Customer", new { id = videogame.Id })">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
                                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                                    </svg>
                                    <span>Aquista</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        
        </div>
    </div>
</div>