@model List<VideogameModel>

<table class="table table-striped mx-5">
    <thead>
        <tr>
            <th scope="col">Immagine</th>
            <th scope="col">Nome</th>
            <th scope="col">Deacrizione</th>
            <th scope="col">Prezzo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (VideogameModel videogame in Model)
        {
            <tr>
                <td><img class="img-fluid img_square" style="width: 15rem;" src="@videogame.ImgUrl" alt=""></td>
                <td>@videogame.Name</td>
                <td>@videogame.Description</td>
                <td>@videogame.Price</td>
                <td>
                    <a class="btn btn-warning btn-sm mt-2" href="@Url.Action("Create", "Manage", new {id = videogame.Id})">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity"><polygon points="14 2 18 6 7 17 3 17 3 13 14 2"></polygon><line x1="3" y1="22" x2="21" y2="22"></line></svg>
                    </a>
                </td>
                <td>
                    <a class="btn btn-warning btn-sm mt-2" href="@Url.Action("Update", "Manage", new {id = videogame.Id})">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity"><polygon points="14 2 18 6 7 17 3 17 3 13 14 2"></polygon><line x1="3" y1="22" x2="21" y2="22"></line></svg>
                    </a>
                </td>
                <td>
                    <form asp-controller="Manage" asp-action="Delete" asp-route-id="@videogame.Id" method="post">
                        @Html.AntiForgeryToken()
                        <button type="submit" style="height: 2.5rem;" class="btn btn-primary bg-redText">Delete</button>
                    </form>
                </td>
            </tr>

        }
    </tbody>
</table>